@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

/* Import title font and default test font */
/* Buttons */
/* Colors */
/* Fonts */
/* Fontweights */
/* Fontsize */
/* padding */
/* margin */
.title_large {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
  z-index: 0;
}

.menu_title {
  font-size: 1.3em;
  padding: 1em;
  font-family: "Cormorant Garamond", serif;
}

.subtitle {
  text-align: center;
  padding: 1em;
  font-family: "DM Sans", sans-serif;
}

.fade_title, .fade_title_back {
  text-align: left;
  font-size: 9em;
  padding-left: 10px;
  color: #c8a96a;
  opacity: 20%;
  text-transform: uppercase;
  position: absolute;
  margin-top: -4%;
  font-family: "Cormorant Garamond", serif;
}

.fade_title_back {
  z-index: -1;
}

input[type=text], button, p {
  font-family: "DM Sans", sans-serif;
}

p {
  font-weight: 300;
  font-size: 0.9em;
  font-optical-sizing: auto;
}

@media only screen and (max-width: 1080px) {
  .fade_title, .fade_title_back {
    display: none;
  }
  .fade_title_back {
    display: none;
  }
  .title_large {
    font-size: 1.6em;
  }
  .subtitle {
    font-size: 0.9em;
  }
}
.special_box_title {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.6;
  text-transform: capitalize;
}

.price {
  font-size: 3em;
  color: #c8a96a;
  font-family: "Cormorant Garamond", serif;
}

.blog_cards_content_info {
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  font-size: 0.7em;
}

.aboutUs {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.6em;
  margin-bottom: 1em;
}

.chefs {
  color: #ffffff;
}

.blackbgtitle {
  color: #202020;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
  font-size: 9em;
  text-transform: uppercase;
  margin-top: 130px;
  margin-left: 80px;
}

.footertitle {
  font-family: "Cormorant Garamond", serif;
  font-size: 2em;
  margin-bottom: 1em;
}

.blog_cards {
  display: flex;
  flex-direction: column;
  width: 350px;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, rgba(243, 236, 211, 0.249), rgba(232, 218, 188, 0.393));
  padding-bottom: 1em;
  margin: 1em;
}
.blog_cards_img img {
  width: 100%;
  height: auto;
}
.blog_cards_content {
  padding: 1em;
}
.blog_cards_content button {
  margin-top: 1em;
}
.blog_cards_content_info {
  display: flex;
  gap: 1em;
  padding-bottom: 1em;
}
.blog_cards_content_info_author {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.blog_cards_content_info figure {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.blog_cards_content_info figure img {
  width: 100%;
  height: 100%;
}

.btn_clear {
  background: none;
  color: #ffffff;
  cursor: pointer;
  border: solid 0.2em rgba(154, 154, 154, 0.1803921569);
  font-weight: 600;
  padding: 1em;
  border-radius: 5px;
  font-size: 0.6em;
  text-transform: uppercase;
}
.btn_clear img {
  width: 8px;
  height: 8px;
  margin-left: 0.6em;
  filter: invert(100%);
}
.btn_clear:hover {
  background-color: #c8a96a;
  border: none;
}

.btn_gold {
  background: none;
  color: #ffffff;
  cursor: pointer;
  border: solid 0.2em rgba(154, 154, 154, 0.1803921569);
  font-weight: 600;
  padding: 1em;
  border-radius: 5px;
  font-size: 0.6em;
  text-transform: uppercase;
  background-color: #c8a96a;
  border: none;
}
.btn_gold img {
  width: 8px;
  height: 8px;
  margin-left: 0.6em;
  filter: invert(100%);
}
.btn_gold:hover {
  background: #ffffff;
  color: #0f0f0f;
}
.btn_gold:hover img {
  filter: none;
}

.btn_white, .btn_white_blog {
  background: none;
  color: #ffffff;
  cursor: pointer;
  border: solid 0.2em rgba(154, 154, 154, 0.1803921569);
  font-weight: 600;
  padding: 1em;
  border-radius: 5px;
  font-size: 0.6em;
  text-transform: uppercase;
  color: #0f0f0f;
  background-color: #ffffff;
}
.btn_white img, .btn_white_blog img {
  width: 8px;
  height: 8px;
  margin-left: 0.6em;
  filter: invert(100%);
}
.btn_white img, .btn_white_blog img {
  filter: none;
}
.btn_white:hover, .btn_white_blog:hover {
  background-color: #c8a96a;
  color: #ffffff;
}
.btn_white:hover img, .btn_white_blog:hover img {
  filter: invert(100%);
}

.btn_white_blog {
  border: none;
}

.fa-brands {
  color: #b0b0b0;
  font-size: 1.3em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  padding: 0.3em;
  background-color: rgb(45, 45, 45);
  border-radius: 50%;
}
.fa-brands:hover {
  color: #ffffff;
  background-color: #c8a96a;
}

.fa-icons {
  margin: 0.3em;
  color: #c8a96a;
}

.menu_icons {
  width: 50px;
  height: auto;
}

.email_input {
  display: flex;
}
.email_input_text_box {
  padding: 1em;
  padding-right: 50px;
  border: none;
}
.email_input_text_box:focus {
  outline-color: #c8a96a;
}
.email_input_send_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: #c8a96a;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.email_input_send_btn img {
  width: 15px;
  height: 15px;
  filter: invert(100%);
}
.email_input_send_btn:hover {
  background-color: #ffffff;
}
.email_input_send_btn:hover img {
  filter: none;
}

.cat_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 50px 0px 50px 0px;
  width: 170px;
  background-color: #ffffff;
}
.cat_box:hover {
  background-color: #c8a96a;
  color: #ffffff;
}
.cat_box:hover img {
  filter: brightness(0) invert(1);
}

.menu_arrow {
  width: 1em;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .cat_box {
    padding: 20px 0px 20px;
  }
}
.special_box {
  display: grid;
  grid-template-columns: 5fr 1fr;
  width: 100%;
  background-color: #ffffff;
  padding: 1em;
  border: 2px solid #ffffff;
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
}
.special_box:first-child {
  border: 2px dashed #c8a96a;
}
.special_box:first-child:hover {
  border: 2px solid #ffffff;
}
.special_box_price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.special_box_item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.special_box:hover {
  border: 2px dashed #c8a96a;
}

.gallery_card--a {
  grid-area: a;
}
.gallery_card--a:hover {
  filter: grayscale(100%);
  transition: 0.2s;
  transition-timing-function: ease-in;
}
.gallery_card--b {
  grid-area: b;
}
.gallery_card--b:hover {
  filter: grayscale(100%);
  transition: 0.2s;
  transition-timing-function: ease-in;
}
.gallery_card--c {
  grid-area: c;
}
.gallery_card--c:hover {
  filter: grayscale(100%);
  transition: 0.2s;
  transition-timing-function: ease-in;
}
.gallery_card--d {
  grid-area: d;
}
.gallery_card--d:hover {
  filter: grayscale(100%);
  transition: 0.2s;
  transition-timing-function: ease-in;
}
.gallery_card--e {
  grid-area: e;
}
.gallery_card--e:hover {
  filter: grayscale(100%);
  transition: 0.2s;
  transition-timing-function: ease-in;
}
.gallery_card--f {
  grid-area: f;
}
.gallery_card--f:hover {
  filter: grayscale(100%);
  transition: 0.2s;
  transition-timing-function: ease-in;
}

.category {
  width: 100%;
  height: auto;
  padding-bottom: 8%;
}
.category .categorybg {
  width: 100%;
  position: relative;
  height: auto;
  padding-top: 8%;
  background-image: linear-gradient(to bottom, rgba(243, 236, 211, 0.249), rgba(232, 218, 188, 0.393)), url("../../img/banner/imgbgcategory.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.category .cat_container {
  margin: 0px 70px 0px 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 60px;
}
.category .cat_container a {
  text-decoration: none;
}
.category .cat_container a:visited {
  color: #0f0f0f;
}

.dish_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background: linear-gradient(transparent 45%, rgb(255, 255, 255) 40%) no-repeat;
  padding: 3em 1em 1em 1em;
}
.dish_container .dishleftcontainer {
  width: 260px;
}
.dish_container .dishleftcontainer img {
  width: 80%;
  height: auto;
  margin-bottom: 1em;
}
.dish_container .dishrightcontainer {
  width: 260px;
}
.dish_container .dishrightcontainer img {
  width: 100%;
  height: auto;
  margin-bottom: 20%;
}
.dish_container .dishcentralcontainer {
  width: 550px;
  margin: 0 2em 0 2em;
}
.dish_container .dishcentralcontainer img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: solid 20px #ffffff;
}

.special_offer {
  width: 100%;
  height: auto;
  padding-top: 8%;
  background: linear-gradient(to bottom, rgba(243, 236, 211, 0.249), rgba(232, 218, 188, 0.393));
  position: relative;
}
.special_offer .bgmenu_right {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
.special_offer .bgmenu_right img {
  height: 100%;
}
.special_offer .bgmenu_left {
  display: inline-block;
  position: absolute;
  max-width: 15%;
  -o-object-fit: contain;
     object-fit: contain;
  left: 0;
  top: 40%;
}
.special_offer .bgmenu_left img {
  width: 100%;
  height: auto;
}

.special_list {
  display: grid;
  padding: 5% 0 10% 0;
  grid-template-columns: auto auto;
  gap: 10px;
  margin: 0 10% 0 10%;
  justify-content: center;
  align-items: center;
  place-items: center;
}

@media only screen and (max-width: 1080px) {
  .special_list {
    display: flex;
    flex-direction: column;
  }
  .bgmenu_left {
    display: none;
  }
  .bgmenu_left img {
    display: none;
  }
  .bgmenu_right {
    display: none;
  }
}
.blog {
  margin-top: 10%;
  white-space: normal;
}
.blog .blog_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.brands {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}
.brands figure {
  margin: 3%;
  filter: grayscale(100%);
  opacity: 70%;
}
.brands figure:hover {
  filter: none;
}
.brands img {
  width: 100%;
}

.blogpreview {
  padding-bottom: 1em;
}

.why_us {
  background-color: #ffffff;
  position: relative;
}
.why_us .bg_about_icon {
  position: absolute;
  top: 50px;
  right: 40px;
}
.why_us_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4em;
  gap: 4em;
}
.why_us_container figure {
  width: 280px;
}
.why_us_container figure img {
  width: 100%;
  height: 100%;
}
.why_us_container_info {
  width: 300px;
}

.chefs {
  background-image: url(../../img/our-chefs/imgbg-ourchefs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 8%;
}

.chefs_card {
  width: 300px;
  height: auto;
}
.chefs_card img {
  width: 100%;
  height: 100%;
}

.chefs_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  padding: 4em;
  padding-bottom: 8%;
}

html {
  scroll-behavior: smooth;
}

header {
  background-image: linear-gradient(333deg, rgba(9, 9, 121, 0) 42%, rgb(2, 0, 36) 84%), url("../../img/slider/img_bg_slider_home01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 700px;
  position: relative;
}
header .logo {
  position: absolute;
  top: 15px;
  left: 20px;
}
header .book {
  position: absolute;
  top: 15px;
  right: 20px;
}
header .book a {
  color: #ffffff;
  text-decoration: none;
}
header .book a i {
  color: #c8a96a;
}
header .book a:hover {
  color: #c8a96a;
}
header .pageTitle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
header .pageTitle button {
  width: 160px;
  margin-left: 80px;
}
header .qualityControl {
  position: absolute;
  top: 90px;
  left: 490px;
}

#content1::after {
  content: "\a";
  white-space: pre;
}

#content2::after {
  content: "\a";
  white-space: pre;
}

/* navbar */
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/* desktop */
.navbar input[type=checkbox],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  width: 100%;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #c8a96a;
  transition: color 0.3s ease-in-out;
}

/* media query */
@media (max-width: 1540px) {
  .logo {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
    position: fixed;
  }
  .navbar-container input[type=checkbox],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }
  .navbar-container input[type=checkbox] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #c8a96a;
  }
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 100px;
    background: linear-gradient(264deg, rgba(3, 2, 52, 0) 35%, rgb(2, 0, 36) 65%, rgb(3, 2, 52) 74%);
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
  }
  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .navbar-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }
  .navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
}
@media (max-width: 695px) {
  .pageTitle h1 {
    display: none;
  }
  .pageTitle button {
    display: none;
  }
}
@media (max-width: 642px) {
  .qualityControl {
    display: none;
  }
}
.gallery {
  padding-top: 8%;
}
.gallery .gallery_container {
  display: grid;
  margin-top: 3em;
  padding-left: 15%;
  padding-right: 15%;
  gap: 12px;
  grid-template-areas: "a a b c" "d e f f";
  justify-content: center;
  place-content: center;
}
.gallery .gallery_container img {
  width: 100%;
  height: 100%;
  position: relative;
}
.gallery .texthover {
  color: white;
  width: inherit;
  height: inherit;
}
.gallery .btn_gallery {
  display: flex;
  padding: 3em;
  justify-content: center;
}

footer {
  width: 100%;
  height: auto;
  background-image: url(../../img/footer/img-ng-footer.jpg);
  color: white;
}
footer a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
footer a:visited {
  color: white;
  text-decoration: none;
}
footer .logofooter {
  display: flex;
  justify-content: center;
  padding: 3em;
}
footer .logofooter img {
  width: 200px;
  height: auto;
}
footer .container_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 20px;
}
footer li {
  padding-top: 10px;
  line-height: 1.6;
  font-size: 0.9em;
  font-family: "DM Sans", sans-serif;
  opacity: 50%;
}
footer .info_footer_news {
  padding: 0 3em 3em 3em;
  max-width: 390px;
}
footer .info_footer_news li {
  margin-bottom: 20px;
}
footer .info_footer {
  padding: 0 3em 3em 3em;
}
footer .info_footer_contact {
  padding: 0 3em 3em 3em;
  max-width: 390px;
}
footer .container_copyright {
  margin: 0 5% 0 5%;
  border-top: 1px solid rgba(255, 255, 255, 0.3137254902);
  padding: 1em;
  display: flex;
  flex-direction: row;
}
footer .logo_final {
  display: flex;
  justify-content: center;
}
footer .logo_final img {
  max-width: 60px;
  height: auto;
}
footer .copyright {
  width: 65%;
  float: left;
  color: #b0b0b0;
  font-size: 0.9em;
}
footer .copyright a {
  color: #c8a96a;
  font-weight: 500;
}
footer .social {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
}

@media only screen and (max-width: 900px) {
  .info_footer {
    display: none;
  }
  .logo_final_img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */