
.btn_clear {
    @include btn;
    &:hover {
        background-color: $golden;
    }
}

.btn_gold {
    @include btn;
    background-color: $golden;
    &:hover {
        background: none;
        color: $black; 
        img {
            filter: none;
        }
    }
}

.btn_white {
    @include btn;
    color: $black;
    img {
        filter: none;
    }
    &:hover {
        background-color: $golden;
        color: $white;
        img {
            filter: invert(100%);
        }
    }
}


