.cat_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 50px 0px 50px 0px;
    width: 170px;
    background-color: $white;
    &:hover {
        background-color: $golden;
        color: $white;
            img {
            filter: brightness(0) invert(1);
        }
    }
}
.menu_arrow {
    width: 1em;
    height: auto;
}

@media only screen and (max-width: 700px) {
    .cat_box {
        padding: 20px 0px 20px;
    }
}
