.title_large {
    font-size: $titletext;
    text-transform: uppercase;
    text-align: center;
    font-weight: $default;
    font-family: $titre;
    z-index: 0;
}

.menu_title {
    font-size: $biggertext;
    padding: $paddingbutton;
    font-family: $titre;
}

.subtitle {
    text-align: center;
    padding: $paddingbutton;
    font-family: $text;
}

.fade_title {
    text-align: left;
    font-size: $ultrabigtext;
    padding-left: 10px;
    color: $golden;
    opacity: 20%;
    text-transform: uppercase;
    position: absolute;
    margin-top: -4%;
    font-family: $titre;
}

.fade_title_back {
    @extend .fade_title;
    z-index: -1;
}

input[type="text"], button, p {
    font-family: $text;
}

p {
    font-weight: $light;
    font-size: $smalltext;
    font-optical-sizing: auto;
}

@media only screen and (max-width: 1080px) {
    .fade_title {
        display: none;
    }
    .fade_title_back {
        display: none;
    }
    .title_large {
        font-size: 1.6em;
    }
    .subtitle {
        font-size: $smalltext;
    }
}

.special_box_title {
    font-family: $titre;
    font-size: $biggertext;
    font-weight: $medium;
    line-height: 1.6;
    text-transform: capitalize;
}

.price {
    font-size: $verybigtext;
    color: $golden;
    font-family: $titre;
}

.blog_cards_content_info {
    font-family: $text;
    text-transform: uppercase;
    font-size: $xsmalltext;
}

.aboutUs {
    font-family: $titre;
    font-size: $aboutustext;
    margin-bottom: $paddingbutton;
}

.chefs {
    color: $white;
}

.blackbgtitle {
    color: #202020;
}

h1 {
    font-family: $titre;
    color: $white;
    font-size: $ultrabigtext;
    text-transform: uppercase;
    margin-top: 130px;
    margin-left: 80px;
}

.footertitle {
    font-family: $titre;
    font-size: $titletext;
    margin-bottom: $normaltext;
}