.special_offer {
    width: 100%;
    height: auto;
    padding-top: $paddingsection;
    background: $sepia;
    position: relative;
    .bgmenu_right {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        img {
            height: 100%;
        }
    }
    .bgmenu_left {
        display: inline-block;
        position: absolute;
        max-width: 15%;
        object-fit: contain;
        left: 0;
        top: 40%;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.special_list {
    display: grid;
    padding: 5% 0 10% 0;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 0 10% 0 10%;
    justify-content: center;
    align-items: center;
    place-items: center;
}

@media only screen and (max-width: 1080px) {
    .special_list {
        display: flex;
        flex-direction: column;
    }
    .bgmenu_left {
        display: none;
        img {
            display: none;
        }
    }
    .bgmenu_right {
        display: none;
    }
}

