/* Buttons */ 

@mixin btn {
    background: none;
    color: $white;
    cursor: pointer;
    border: solid 0.2em #9a9a9a2e;
    font-weight: $bold;
    padding: $paddingbutton;
    border-radius: 5px;
    font-size: 0.6em;
    text-transform: uppercase;
    img {
        width: 8px;
        height: 8px;
        margin-left: 0.6em;
        filter: invert(100%);
    }
}

@mixin link {
    color: white;
    cursor: pointer;
    text-decoration: none;
    &:visited {
        color: white;
        text-decoration: none;
    }
}