/* Buttons */ 

@mixin btn {
    background: none;
    border: 2px solid $grey;
    color: $white;
    cursor: pointer;
    font-weight: $bold;
    padding: $paddingbutton;
    border-radius: 5px;
    font-size: 0.6em;
    text-transform: uppercase;
    img {
        width: 8px;
        height: 8px;
        margin-left: 0.6em;
        filter: invert(100%);
    }
}