/* Colors */

$beige: #faf6f0;
$black: #0f0f0f;
$golden: #c8a96a;
$white: #ffffff;
$grey: #b0b0b0;
$darkgrey: rgb(45, 45, 45);
$sepia: linear-gradient(to bottom, rgba(243, 236, 211, 0.249),rgba(232, 218, 188, 0.393));

/* Fonts */

$titre: 'Cormorant Garamond', serif;
$text: 'DM Sans', sans-serif;

/* Fontweights */

$lighter : 200;
$light: 300;
$default: 400;
$medium: 500;
$bold: 600;

/* Fontsize */

$xsmalltext : 0.7em;
$smalltext : 0.9em;
$normaltext: 1em;
$biggertext: 1.3em;
$titletext : 2em;
$verybigtext: 3em;
$ultrabigtext: 9em;
$aboutustext: 1.6em;

/* padding */

$paddingbutton : 1em;
$paddingsection: 8%;
$paddingcontent: 4em;

/* margin */


