/* Colors */

$beige: #faf6f0;
$black: #0f0f0f;
$golden: #c8a96a;
$white: #ffffff;

/* Fonts */

$titre: 'Cormorant Garamond', serif;
$text: 'DM Sans', sans-serif;

/* Fontweights */

$lighter : 200;
$light: 300;
$default: 400;
$medium: 500;
$bold: 600;

/* Fontsize */

/* padding */

/* margin */


